//РАЗМЕРЫ ЭКРАНА
//$minWidth: 320px;

//ЦВЕТА
$main-screen: #4d4959;
$white: #fff;
$block_bg: #f7f7f7;
$title: #353738;
$text: #848789;
$text-decor: rgba(53, 55, 56, 0.2);
$hover_bg: rgba(100, 194, 158, 0.6);
$slider-dots_border: #c8c8c8;
$slider-dots_active: #a9afb3;
$shop_button: #282f35;
$button_border: rgba(255, 255, 255, 0.4);
$button_hover-white: rgba(255, 255, 255, 0.2);
$button_hover-black: rgba(0, 0, 0, 0.6);
$form_button: #64c29e;
$form_input: #d3d7d9;
$input_placeholder: #929292;
