/*BRANDS==============================================*/
.brands {
	&_reverse {
		.brands__column {
			order: 1;
		}
		.brands__column_big {
			order: 2;
		}
	}
	&__row {
		display: flex;
	}

	&__column {
		flex: 0 1 33.333%;
		&_big {
			flex: 0 1 66.667%;
		}
	}

	&__item {
	}

	&__content {
		position: relative;
		padding: 70px 65px 55px 65px;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, 100%);
			@include arrow($white);
		}
	}

	&__img {
		padding: 0 0 38.51% 0;
	}

	//MEDIA============================================================
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}
	@media (max-width: 1100px) {
		&__row {
			flex-direction: column;
		}
		&__item {
			padding: 0 0 70% 0;
		}
	}
	@media (max-width: 767px) {
		&__content {
			padding: 40px 15px 30px 15px;
		}
	}
}

/*==============================================*/
